asgiref==3.11.1
bleach==6.3.0
boto3==1.43.101
botocore==1.43.101
Django==4.2.30
django-multi-captcha-admin==2.0.0
django-ranged-response==0.2.0
django-robots==6.1
django-simple-captcha==0.6.3
django-storages==1.14.6
django-summernote==0.8.20.0
jmespath==1.1.0
pillow==12.2.0
psycopg2-binary==2.9.13
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
s3transfer==0.19.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.1
urllib3==2.8.0
webencodings==0.5.1
whitenoise==6.12.0
