{% load static%}
{% load humanize %}
{% load blog_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">

   <!-- Site Title -->
   <title>Ali Ziayee - Home</title>

   <!-- Place favicon.ico in the root directory -->
   <link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}">
   <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">

   <!-- CSS here -->
   <link rel="stylesheet" href="{% static 'css/animate.min.css'%}">
   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
   <link rel="stylesheet" href="{% static 'css/font-awesome-pro.min.css'%}">
   <link rel="stylesheet" href="{% static 'css/flaticon_gerold.css'%}">
   <link rel="stylesheet" href="{% static 'css/nice-select.css'%}">
   <link rel="stylesheet" href="{% static 'css/backToTop.css'%}">
   <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
   <link rel="stylesheet" href="{% static 'css/swiper.min.css'%}">
   <link rel="stylesheet" href="{% static 'css/odometer-theme-default.css'%}">
   <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">
   <link rel="stylesheet" href="{% static 'css/main.css'%}">
   <link rel="stylesheet" href="{% static 'css/light-mode.css'%}">
   <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
</head>

<body>
   <!-- Preloader Area Start -->
   <div class="preloader">
      <svg viewbox="0 0 1000 1000" preserveaspectratio="none">
         <path id="preloaderSvg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
      </svg>

      <div class="preloader-heading">
         <div class="load-text">
            <span>L</span>
            <span>o</span>
            <span>a</span>
            <span>d</span>
            <span>i</span>
            <span>n</span>
            <span>g</span>
         </div>
      </div>
   </div>
   <!-- Preloader Area End -->

   <!-- start: Back To Top -->
   <div class="progress-wrap" id="scrollUp">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
         <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
      </svg>
   </div>
   <!-- end: Back To Top -->

   <!-- HEADER START -->
   <header class="tj-header-area header-absolute">
      <div class="container">
         <div class="row">
            <div class="col-12 d-flex flex-wrap align-items-center">
               <div class="logo-box">
                  <a href="{% url 'website:homepage' %}">
                     <img src="{% static 'img/logo/logo.png' %}" alt="">
                  </a>
               </div>

               <div class="header-info-list d-none d-md-inline-block">
                  <ul class="ul-reset">
                     <li><a href="mailto:maziayee@gmail.com">maziayee@gmail.com</a></li>
                  </ul>
               </div>
               <div class="header-menu">
                  <nav>
                     <ul>
                        <li><a href="#services-section">Services</a></li>
                        <li><a href="#skills-section">Skills</a></li>
                        <li><a href="#resume-section">Resume</a></li>
                        <li><a href="#blog-section">Blog</a></li>
                     </ul>
                  </nav>
               </div>
               <div class="header-button">
                  <a href="#contact-section" class="btn tj-btn-primary">Hire Me!</a>
               </div>
               <div class="menu-bar d-lg-none">
                  <button>
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </header>
   <header class="tj-header-area header-2 header-sticky sticky-out">
      <div class="container">
         <div class="row">
            <div class="col-12 d-flex flex-wrap align-items-center">
               <div class="logo-box">
                  <a href="{% url 'website:homepage' %}">
                     <img src="{% static 'img/logo/logo.png' %}" alt="">
                  </a>
               </div>

               <div class="header-info-list d-none d-md-inline-block">
                  <ul class="ul-reset">
                     <li><a href="mailto:maziayee@gmail.com">maziayee@gmail.com</a></li>
                  </ul>
               </div>

               <div class="header-menu">
                  <nav>
                     <ul>
                        <li><a href="#services-section">Services</a></li>
                        <li><a href="#skills-section">Skills</a></li>
                        <li><a href="#resume-section">Resume</a></li>
                        <li><a href="#blog-section">Blog</a></li>
                     </ul>
                  </nav>
               </div>

               <div class="header-button">
                  <a href="#contact-section" class="btn tj-btn-primary">Hire Me!</a>
               </div>

               <div class="menu-bar d-lg-none">
                  <button>
                     <span></span>
                     <span></span>
                     <span></span>
                     <span></span>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- HEADER END -->

   <main class="site-content" id="content">
      <!-- HERO SECTION START -->
      <section class="hero-section d-flex align-items-center" id="intro">
         <div class="intro_text">
            <svg viewbox="0 0 1320 300">
               <text x="50%" y="50%" text-anchor="middle">HI</text>
            </svg>
         </div>
         <div class="container">
            <div class="row align-items-center">
               <div class="col-md-6">
                  <div class="hero-content-box">
                     <span class="hero-sub-title">I am Ali Ziayee
                     </span>
                     <h1 class="hero-title">Project Manager &
                        <br>
                        Django Developer</h1>

                     <div class="hero-image-box d-md-none text-center">
                        <img src="{% static 'img/hero/me.png' %}" alt="">
                     </div>

                     <p class="lead">
                        Relying on communication skills and experience working in dynamic and multi-tasking environments, I have the ability to manage IT projects and lead programming teams to achieve organizational goals.
                     </p>
                     <div class="button-box d-flex flex-wrap align-items-center">
                        <a href="{% url 'website:download_pdf' %}" class="btn tj-btn-secondary">Download Resume <i class="flaticon-download"></i></a>
                        <ul class="ul-reset social-icons">
                           <li>
                              <a href="https://t.me/MaZiaei"><i class="fa-brands fa-telegram"></i></a>
                           </li>
                           <li>
                              <a href="tel:+989357491076"><i class="fa-light flaticon-phone-call"></i></a>
                           </li>
                           <li>
                              <a href="https://www.linkedin.com/in/mohammad-ali-ziayee-680a39225"><i class="fa-brands fa-linkedin-in"></i></a>
                           </li>
                           <li>
                              <a href="https://github.com/MaZiayee"><i class="fa-brands fa-github"></i></a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 d-none d-md-block">
                  <div class="hero-image-box text-center">
                     <img src="{% static 'img/hero/me.png' %}" alt="">
                  </div>
               </div>
            </div>
            <div class="funfact-area">
               <div class="row">
                  <div class="col-6 col-lg-3">
                     <div class="funfact-item d-flex flex-column flex-sm-row flex-wrap align-items-center">
                        <div class="number"><span class="odometer" data-count="5">0</span></div>
                        <div class="text">Years of<br>Experience</div>
                     </div>
                  </div>
                  <div class="col-6 col-lg-3">
                     <div class="funfact-item d-flex flex-column flex-sm-row flex-wrap align-items-center">
                        <div class="number"><span class="odometer" data-count="21">0</span>+</div>
                        <div class="text">Completed <br>Projects</div>
                     </div>
                  </div>
                  <div class="col-6 col-lg-3">
                     <div class="funfact-item d-flex flex-column flex-sm-row flex-wrap align-items-center">
                        <div class="number"><span class="odometer" data-count="21">0</span>+</div>
                        <div class="text">Happy <br>Clients </div>
                     </div>
                  </div>
                  <div class="col-6 col-lg-3">
                     <div class="funfact-item d-flex flex-column flex-sm-row flex-wrap align-items-center">
                        <div class="number"><span class="odometer" data-count="51">0</span></div>
                        <div class="text">Key <br>Skills</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- HERO SECTION END -->

      <!-- SERVICES SECTION START -->
      <section class="services-section" id="services-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="section-header text-center">
                     <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">My Services
                     </h2>
                     <p class="wow fadeInUp" data-wow-delay=".4s">
                        I turn your ideas and wishes into a unique project to inspire you and your customers.
                     </p>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-md-12">
                  <div class="services-widget position-relative">
                     <div class="service-item current d-flex flex-wrap align-items-center wow fadeInUp" data-wow-delay=".5s">
                        <div class="left-box d-flex flex-wrap align-items-center">
                           <span class="number">01</span>
                           <h3 class="service-title">Web Design</h3>
                        </div>
                        <div class="right-box">
                           <p>
                              Design and development of professional websites with Django, along with a dedicated admin panel, optimized SEO, guaranteed high security, and 6-month support for your business.
                           </p>
                        </div>
                        <i class="flaticon-up-right-arrow"></i>
                     </div>
                     <div class="service-item d-flex flex-wrap align-items-center wow fadeInUp" data-wow-delay=".6s">
                        <div class="left-box d-flex flex-wrap align-items-center">
                           <span class="number">02</span>
                           <h3 class="service-title">Project Management</h3>
                        </div>
                        <div class="right-box">
                           <p>
                              Management of programming projects, including detailed planning, monitoring progress, team coordination, time management, and comprehensive reporting to optimize the development process.
                           </p>
                        </div>
                        <i class="flaticon-up-right-arrow"></i>
                     </div>
                     <div class="service-item d-flex flex-wrap align-items-center wow fadeInUp" data-wow-delay=".7s">
                        <div class="left-box d-flex flex-wrap align-items-center">
                           <span class="number">03</span>
                           <h3 class="service-title">API Development</h3>
                        </div>
                        <div class="right-box">
                           <p>
                              Creation and development of professional APIs with modern standards, high security, accurate documentation, and seamless connection to various systems to improve your business performance.
                           </p>
                        </div>
                        <i class="flaticon-up-right-arrow"></i>
                     </div>
                     <div class="service-item d-flex flex-wrap align-items-center wow fadeInUp" data-wow-delay=".8s">
                        <div class="left-box d-flex flex-wrap align-items-center">
                           <span class="number">04</span>
                           <h3 class="service-title">Python Programming</h3>
                        </div>
                        <div class="right-box">
                           <p>
                              Professional and optimized Python programming using the best techniques for your projects.
                           </p>
                        </div>
                        <i class="flaticon-up-right-arrow"></i>
                     </div>
                     <div class="active-bg wow fadeInUp" data-wow-delay=".5s"></div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- SERVICES SECTION END -->

      <!-- SKILLS SECTION START -->
      <section class="skills-section" id="skills-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="section-header text-center">
                     <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">Skills</h2>
                     <p class="wow fadeInUp" data-wow-delay=".4s">

                     </p>
                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-md-12">
                  <div class="skills-widget d-flex flex-wrap justify-content-center align-items-center">
                     <div class="skill-item wow fadeInUp" data-wow-delay=".3s">
                        <div class="skill-inner">
                           <div class="icon-box">
                              <img src="{% static 'img/icons/docker.png' %}" alt="">
                           </div>
                           <div class="number">30%</div>
                        </div>
                        <p>Docker</p>
                     </div>
                     <div class="skill-item wow fadeInUp" data-wow-delay=".4s">
                        <div class="skill-inner">
                           <div class="icon-box">
                              <img src="{% static 'img/icons/API.png' %}" alt="">
                           </div>
                           <div class="number">70%</div>
                        </div>
                        <p>Django REST framework</p>
                     </div>
                     <div class="skill-item wow fadeInUp" data-wow-delay=".5s">
                        <div class="skill-inner">
                           <div class="icon-box">
                              <img src="{% static 'img/icons/django2.svg' %}" alt="">
                           </div>
                           <div class="number">70%</div>
                        </div>
                        <p>Django</p>
                     </div>
                     <div class="skill-item wow fadeInUp" data-wow-delay=".6s">
                        <div class="skill-inner">
                           <div class="icon-box">
                              <img src="{% static 'img/icons/python.svg' %}" alt="">
                           </div>
                           <div class="number">60%</div>
                        </div>
                        <p>Python</p>
                     </div>
                     <div class="skill-item wow fadeInUp" data-wow-delay=".7s">
                        <div class="skill-inner">
                           <div class="icon-box">
                              <img src="{% static 'img/icons/project.png' %}" alt="">
                           </div>
                           <div class="number">90%</div>
                        </div>
                        <p>Project Management</p>
                     </div>
                     <div class="skill-item wow fadeInUp" data-wow-delay=".8s">
                        <div class="skill-inner">
                           <div class="icon-box">
                              <img src="{% static 'img/icons/SQL.svg' %}" alt="">
                           </div>
                           <div class="number">40%</div>
                        </div>
                        <p>SQL Server</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- SKILLS SECTION END -->
                                               
      <!-- RESUME SECTION START -->
      <section class="resume-section" id="resume-section">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="section-header wow fadeInUp" data-wow-delay=".3s">
                     <h2 class="section-title"><i class="flaticon-recommendation"></i> My Experience</h2>
                  </div>

                  <div class="resume-widget">
                     <div class="resume-item wow fadeInLeft" data-wow-delay=".4s">
                        <div class="time">2024 - Present</div>
                        <h3 class="resume-title">Django and Python Developer</h3>
                        <div class="institute">Freelancer</div>
                     </div>
                     <div class="resume-item wow fadeInLeft" data-wow-delay=".5s">
                        <div class="time">2022 - Present</div>
                        <h3 class="resume-title">Project Manager</h3>
                        <div class="institute">Motammam Studio, Mashhad</div>
                     </div>
                     <div class="resume-item wow fadeInLeft" data-wow-delay=".6s">
                        <div class="time">2019 - 2021</div>
                        <h3 class="resume-title">Project Manager</h3>
                        <div class="institute">Raymon Salamat Gostar Avijeh, Mashhad</div>
                     </div>
                  </div>
               </div>

               <div class="col-md-6">
                  <div class="section-header wow fadeInUp" data-wow-delay=".4s">
                     <h2 class="section-title"><i class="flaticon-graduation-cap"></i> My Education</h2>
                  </div>

                  <div class="resume-widget">
                     <div class="resume-item wow fadeInRight" data-wow-delay=".5s">
                        <div class="time">2021 - 2023</div>
                        <h3 class="resume-title">Master of Information Technology Management</h3>
                        <div class="institute">Ferdowsi University of Mashhad</div>
                     </div>
                     <div class="resume-item wow fadeInRight" data-wow-delay=".6s">
                        <div class="time">2014 - 2019</div>
                        <h3 class="resume-title">Bachelor of Mechanical Engineering</h3>
                        <div class="institute">Ferdowsi University of Mashhad</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- RESUME SECTION END -->

      <!-- BLOG SECTION STAR -->
      <section class="blog-section" id="blog-section">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="section-header text-center">
                     <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">Recent Blogs</h2>
                     <p class="wow fadeInUp" data-wow-delay=".4s">
                     </p>
                  </div>
               </div>
            </div>
            <div class="row">
               {% for post in posts %}
               <div class="col-lg-4 col-md-6">
                  <div class="blog-item wow fadeInUp" data-wow-delay=".5s">
                     <div class="blog-thumb">
                        <a href="{% url 'blog:blog-details' pid=post.id %}">
                           <img src="{{post.image.url}}" alt="">
                        </a>
                        {% for cat in post.category.all %}
                        <a href="{% url 'blog:category' cat_name=cat.name %}" class="category">{{cat.name}}</a>
                        {% endfor %}
                     </div>

                     <div class="blog-content">
                        <div class="blog-meta">
                           <ul class="ul-reset">
                              <li><i class="fa-light fa-calendar-days"></i>{{ post.published_date|date:"d/Y/M" }}
                              </li>
                              <li><i class="fa-light fa-comments"></i> <a href="#">Comments ({% comments_counts post.id %})</a></li>
                           </ul>
                        </div>
                        <h3 class="blog-title"><a href="{% url 'blog:blog-details' pid=post.id %}">{{ post.title }}</a></h3>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
            <div class="row">
               <div class="col-md-12 text-center">
                  <a href="{% url 'blog:blog-home' %}" class="btn tj-btn-primary" data-wow-delay=".8s">View All Posts</a>
               </div>
            </div>
         </div>
      </section>
      <!-- BLOG SECTION END -->

      <!-- CONTACT SECTION START -->
      <section class="contact-section" id="contact-section">
         <div class="container">
            <div class="row">
               <div class="col-lg-6 col-md-7 order-2 order-md-1">
                  <div class="contact-form-box wow fadeInLeft" data-wow-delay=".3s">
                     <div class="section-header">
                        <h2 class="section-title">Let’s work together!</h2>
                        <p>If you are looking to collaborate with me, send your message and I will contact you as soon as possible!</p>
                     </div>
                     

                     <div class="tj-contact-form">
                        <form action="{% url 'website:homepage' %}" method="post">
                           {% csrf_token %}
                           <div class="row gx-3">
                              <div class="col-sm-6">
                                 <div class="form_group">
                                    <input type="text" name="first_name" placeholder="First Name" autocomplete="on">
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form_group">
                                    <input type="text" name="last_name" placeholder="Last Name" autocomplete="on">
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form_group">
                                    <input type="email" name="email" placeholder="Email" autocomplete="on">
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="form_group">
                                    <input type="number" name="phone" placeholder="Phone Number" autocomplete="on">
                                 </div>
                              </div>
                              <div class="col-12">
                                 <div class="form_group">
                                    <input type="text" name="subject" placeholder="Subject" autocomplete="on">
                                 </div>
                              </div>
                              <div class="col-12">
                                 <div class="form_group">
                                    <textarea name="message" placeholder="Message"></textarea>
                                 </div>
                              </div>
                              <div class="col-12">
                                 <div class="form_group">
                                    {{form.captcha}}
                                 </div>
                              </div>
                              <div class="col-12">
                                 <div class="form_btn">
                                    <button type="submit" class="btn tj-btn-primary">Send Message</button>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>

               <div class="col-lg-5 offset-lg-1 col-md-5 d-flex flex-wrap align-items-center order-1 order-md-2">
                  <div class="contact-info-list">
                     <ul class="ul-reset">
                        <li class="d-flex flex-wrap align-items-center position-relative wow fadeInRight" data-wow-delay=".4s">
                           <div class="icon-box">
                              <i class="flaticon-phone-call"></i>
                           </div>
                           <div class="text-box">
                              <p>Phone Number</p>
                              <a href="tel:+989357491076">09357491076</a>
                           </div>
                        </li>
                        <li class="d-flex flex-wrap align-items-center position-relative wow fadeInRight" data-wow-delay=".5s">
                           <div class="icon-box">
                              <i class="flaticon-mail-inbox-app"></i>
                           </div>
                           <div class="text-box">
                              <p>Email</p>
                              <a href="mailto:maziayee@mail.com">maziayee@mail.com</a>
                           </div>
                        </li>
                        <li class="d-flex flex-wrap align-items-center position-relative wow fadeInRight" data-wow-delay=".6s">
                           <div class="icon-box">
                              <i class="flaticon-location"></i>
                           </div>
                           <div class="text-box">
                              <p>Address</p>
                              <a href="#">Ferdowsi Blvd, Mashhad</a>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- CONTACT SECTION END -->

      <!-- BEGIN: Contact Form Modal Message -->
       {% if messages %}
      <div class="modal contact_modal" tabindex="-1" id="messageModal">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <span class="modal-title"><strong></strong></span>
               </div>
               <div class="modal-body">
                  {% for message in messages %}
                     <p>{{ message }}</p>
                  {% empty %}
                     <p>No messages</p>
                  {% endfor %}
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
      {% endif %}
      <!-- END: Contact Form Modal Message -->

   </main>

   <!-- FOOTER AREA START -->
   <footer class="tj-footer-area">
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <div class="footer-logo-box">
                  <a href="#"><img src="{% static 'img/logo/logo.png' %}" alt=""></a>
               </div>
               <div class="copy-text">
                  <p>&copy; All rights reserved.</p>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- FOOTER AREA END -->

   <!-- CSS here -->
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'js/nice-select.min.js' %}"></script>
   <script src="{% static 'js/backToTop.js' %}"></script>
   <script src="{% static 'js/smooth-scroll.js' %}"></script>
   <script src="{% static 'js/appear.min.js' %}"></script>
   <script src="{% static 'js/wow.min.js' %}"></script>
   <script src="{% static 'js/gsap.min.js' %}"></script>
   <script src="{% static 'js/one-page-nav.js' %}"></script>
   <script src="{% static 'js/lightcase.js' %}"></script>
   <script src="{% static 'js/owl.carousel.min.js' %}"></script>
   <script src="{% static 'js/swiper.min.js' %}"></script>
   <script src="{% static 'js/imagesloaded-pkgd.js' %}"></script>
   <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
   <script src="{% static 'js/odometer.min.js' %}"></script>
   <script src="{% static 'js/magnific-popup.js' %}"></script>
   <script src="{% static 'js/validate.min.js' %}"></script>
   <script src="{% static 'js/main.js' %}"></script>
</body>

<script>
   document.addEventListener("DOMContentLoaded", function() {
       var messageModal = document.getElementById("messageModal");
       if (messageModal) {
           var modal = new bootstrap.Modal(messageModal);
           modal.show();
       }
   });
</script>

</html>