{% load static %}
{% load blog_tags %}
<div class="sidebar_widget tj_recent_posts wow fadeInUp" data-wow-delay=".3s">
    <div class="widget_title">
      <h3 class="title">آخرین مطالب وبلاگ</h3>
    </div>

    <ul>
      <li>
        {% for post in posts %}
        <div class="recent-post_thumb">
          <a href="{% url 'blog:blog-details' pid=post.id %}">
            <img src="{{post.image.url}}" alt="">
          </a>
        </div>

        <div class="recent-post_content">
          <div class="tj-post__meta entry-meta">
            <span><i class="fa-light fa-calendar-days"></i>{{post.published_date|date:"d/Y/M" }}</span>
            <span><i class="fa-light fa-comments"></i><a> ({% comments_counts post.id %}) </a></span>
          </div>
          <h4 class="recent-post_title">
            <a href="{% url 'blog:blog-details' pid=post.id %}">{{post.title}}</a>
          </h4>
        </div>
        {% endfor %}
      </li>
    </ul>
  </div>